body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header1 header1"
        "left    right";
}

#header1 {
    grid-area: header1;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

#left {
    grid-area: left;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

#right {
    grid-area: right;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}



.experience,
.education {
    margin-bottom: 20px;
}

.experience h2,
.education h2 {
    margin-bottom: 10px;
}

.experience div,
.education div {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.experience div h3,
.education div h3 {
    margin-bottom: 5px;
}